<p id="notice"><%= notice %></p>

<h1>Kingdom Halls</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kingdom_halls.each do |kingdom_hall| %>
      <tr>
        <td><%= kingdom_hall.address %></td>
        <td><%= kingdom_hall.city %></td>
        <td><%= kingdom_hall.state %></td>
        <td><%= kingdom_hall.zip_code %></td>
        <td><%= kingdom_hall.country %></td>
        <td><%= link_to 'Show', kingdom_hall %></td>
        <td><%= link_to 'Edit', edit_kingdom_hall_path(kingdom_hall) %></td>
        <td><%= link_to 'Destroy', kingdom_hall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kingdom Hall', new_kingdom_hall_path %>
