<p id="notice"><%= notice %></p>

<p>
  <strong>Outline name:</strong>
  <%= @public_talk_outline.outline_name %>
</p>

<p>
  <strong>Outline number:</strong>
  <%= @public_talk_outline.outline_number %>
</p>

<p>
  <strong>Outline note:</strong>
  <%= @public_talk_outline.outline_note %>
</p>

<p>
  <strong>Outline date:</strong>
  <%= @public_talk_outline.outline_date %>
</p>

<%= link_to 'Edit', edit_public_talk_outline_path(@public_talk_outline) %> |
<%= link_to 'Back', public_talk_outlines_path %>
